.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    margin: 0px;
}
.buttonDiv{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height: 100px;
}
.button{
    height: 35px;
    width: 120px;
    border-radius: 15px;
    padding: 0px;
    margin: 10px;
}
#noButton{
    height: 100px;
    width: 120px;
    border-radius: 15px;
    padding: 0px;
    margin: 10px;
    background-color: transparent;
    border: none;
}

